@import 'var.scss';

.header {
    background: #FFFFFF;
    font-weight: 600;
    border-bottom: 1px solid #E7E8EC;

    a {
        cursor: pointer;
    }
}

.headerTop {
    border-bottom: 1px solid #E7E8EC;
}

.headerBot {
    margin: 19px 0;
}



.borderBox {
    display: flex;
    align-items: center;
    border: 1px solid $color-gray;
    background: $color-gray;
    border-radius: 10px;
    padding: 1rem 1.25rem;
        &:not(:last-child) {
            margin-right: 0.7rem;
        }
        svg {
            margin-right: 0.44rem;
        }

    p {
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 1rem;
            &:not(:last-child) {
                margin-right: 19px;
            }
        
            a {
                color: $color-blue;
                cursor: pointer;
            }
    }
}

.borderBoxContent {
    display: flex;
    align-items: center;
    justify-content: center;
        button {
            font-weight: 600;
            font-size: 0.875rem;
            line-height: 1rem;
            color: $color-black;
        }
}

.switchLangBtn {
    button {
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.25rem;
        display: flex;
        align-items: center;
    }

    svg {
        width: 9px;
        height: auto;
        margin-left: 5px;
    }

    &:hover {
        svg {
            path {
                fill: darkblue;
            }
        }
    }
}

.icons {
    padding-right: 2.1rem;
}

.space {
    margin-right: 5.625rem;
}

.logo {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.81rem;
}



.weather {
    button {
        display: flex;
        align-items: center;
    }
}

.weatherSvg {
    width: 20px;
    height: auto;
    margin-right: 5px;
}


.switchWeatherBtn {
    width: 9px;
    height: auto;
    margin-left: 3px;

    &:hover {
        path {
            fill: darkblue;
        }
    }

}

.burgerBtn {
    margin-right: 25px;
}

.whatsapp {
    margin-left: 0.53rem;
}