@import 'var.scss';

.container {
    margin-bottom: 15px;
}
.content {
    border-bottom: 1px solid #E7E9EC;
    h3 {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: $color-title;
        margin-bottom: 21px; 
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }

    a {
        color: $color-blue;
        text-decoration-line: underline;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 14px;
        display: block;
        cursor: pointer;
    }
}

.category {
    margin-bottom: 21px;

    button {
        background: #FFFFFF;
        border: 1px solid $color-blue;
        border-radius: 50px;
        color: $color-blue;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        padding: 7px 15px;
        margin-right: 20px;
            &:hover{
                background-color: $color-blue;
                color: #FFFFFF;
            }
    }

    span {
        color: #838B98;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }
}

.categoryBlock {
    margin-bottom: 10px;
}

.newsBlock {
    border: 1px solid #E7E9EC;
    border-radius: 10px;
    background: #FAFBFD;
    padding: 24px;
    margin-bottom: 24px;
}

.allNewsBtn {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: $color-blue;
    text-decoration-line: underline;
    cursor: pointer;
}