@import 'var.scss';

.MainPage {
    background: #F3F3F3;
}

.contentBox {
    display: flex;
    justify-content: space-between;
    background: #F3F3F3;
     &:not(:last-child) {
        margin: 30px 0;
     }
}

.contentBoxElem {
    background: #FFFFFF;
    width: 29%;
    padding: 24px;
    align-items: center;
    align-content: stretch;
    border-radius: 10px;
}

.newsColumn {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    padding: 24px;
    width: 49%;
    border-radius: 10px;
}

.newsColumnItem {
    display: flex;
    justify-content: space-between;

    h1 {
        color: $color-blue;
        font-size: 32px;
        line-height: 39px;
        text-decoration-line: underline;
        margin-bottom: 24px;
    }

    .item {
        width: calc(50% - 12px);
    }
}

.categoryNews {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 24px;
    margin: 0 24px 24px 0;
}

.categoryNewsItem {
    display: flex;
    justify-content: space-between;
}

.categoryNewsItemWidth {
    width: 24%;
}

.categoryList {
    display: flex;
    align-items: center;
    margin-bottom: 34px;
    button {
        text-decoration-line: underline;
        color: $color-blue;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        cursor: pointer;    
    }
}

.readMoreBtn {
    display: flex;
    align-items: center;

    svg {
        width: 8px;
        height: auto;
        margin-left: 12px;
    }

}

.contentBoxElemContent {
    h2 {
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
    }
}

.columnContent {
    display: flex;
}

.columnContentElem {
    &:not(:last-child) {
        margin-right: 34px;
    }
}

.thirdColumn {
    background: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.thirdColumnContent {   
    background: #FFFFFF; 
    padding: 24px;
    border-radius: 10px;
    h3 {
        color: $color-blue;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-decoration-line: underline;
    }
}

.ourChoice {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.mainNewsColumn {
    min-width: 632px;
}

.allNewsBtn {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: $color-blue;
    text-decoration-line: underline;
    cursor: pointer;
}