@import 'var.scss';

.container {
    background: #191919;
}

.flex__container {
    max-width: 1640px;
    margin: 0 auto;
}

.contentBox {
    display: flex;
    flex-direction: column;
    padding: 24px 0;
    height: 32%;
}

.content__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    h2 {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        text-decoration-line: underline;
        color: #FFFFFF;
    }

    a {
        color: $color-blue;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-decoration-line: underline;
        display: flex;
        align-items: center;
    }
}

.slider {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

